<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>MotionControl</string>
	<key>CFBundleIdentifier</key>
	<string>com.motioncontrol.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MotionControl</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSCameraUsageDescription</key>
	<string>MotionControl 使用摄像头进行手势识别，实现肢体动作控制鼠标和键盘。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MotionControl 使用麦克风进行语音指令识别。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>MotionControl 使用语音识别将语音转换为控制命令。</string>
</dict>
</plist>
